.check-header-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 700;
    /* font-size: 72px; */
    background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
 .check-header-main{
    padding: 3%;
    margin-left: 3%;
    display: flex;
}
.check-header-logo{
    /* height: 20rem; */
    width: 12rem;
}